.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
  }
  .logo-adress{
    flex-grow: 1;
  }
  .footer-logo {
    display: block;
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-webcolor);
  
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .address {
    margin: 0 auto;
    font-style: normal;
  }
  .link-googlemaps {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-left: auto;
  }
  .footer-address > li {
    margin-bottom: 9px;
  }
  .footer-address > li:last-child {
    margin-bottom: 0;
  }
  .link-contacts-footer {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 0;
    margin-top: 0;
  
    transition-property: color;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--time);

    &:hover,
    &:focus {
    color: var(--hover-focus-color);
  }
  }
  
  .welcome-soc {
    margin-left: 70px;
    
  }
  .welcome {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .soc-icon-footer {
    width: 44px;
    height: 44px;
    /* background-color: white; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  
    transition-property: background-color, fill;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--time);

    &:hover,
    &:focus {
    fill: #fff;
    background-color: var(--hover-focus-color);
  }
  }
  
  .social-links-footer {
    margin-left: 0;
  }
  .follow{
    margin-left: 93px;
  }
  .follow__title{
    font-weight: 700;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
  
  }
  .follow__field{
    display: flex;
    align-items: center;
  }
  .follow__email{
    padding: 15px 16px 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-background);
    margin-right: 12px;
    &::placeholder{
      font-size: 16px;
      line-height: 1.25;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .btn-follow{  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #fff;
    background-color: var(--hover-focus-color);
  }
  .icon-send{
    margin-left: 10px;
  }