.our-team-section {
    background-color: var(--ourteam-background);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .team-item {
    margin-right: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .team-img {
    display: block;
  }
  .team-description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-text);
    margin-bottom: 16px;
  }
  /* -------------------Social links------------- */
  .team-soc-icon {
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition-property: background-color, fill;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--time);

    &:hover,
    &:focus {
    fill: #fff;
    background-color: var(--hover-focus-color);
  }
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-list {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  