:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #212121;
    --main-font-size: 14px;
  
    --logo-font: 'Raleway', sans-serif;
    --logo-webcolor: #2196f3;
    --hover-focus-color: #2196f3;
    --footer-background: #2f303a;
    --link-contacts-color: #757575;
    --description-text: #757575;
    --button-order: #2196f3;
    --ourteam-background: #f5f4fa;
    --backgroundcolor-features: #f5f4fa;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
  
  }