:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #2E2F42;
    --main-font-size: 16px;
  
    --logo-font: 'Raleway', sans-serif;
    --logo-webcolor: #4D5AE5;
    --logo-studiocolor: #2E2F42;
    --hover-focus-color: #404BBF;
    --footer-background: #2E2F42;
    --footer-social-hover: #31D0AA;
    --link-contacts-color: #434455;
    --description-text: #434455;
    --button-order: #404BBF;
    --ourteam-background: #F4F4FD;
    --backgroundcolor-features: #F4F4FD;
    --portfolio-backgroundcolor-description:#4D5AE5;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
  
  }